<div class="container">

    <h5 class="center-align">Angular2 with Angular2-Materialize</h5>

    <div class="row" style="margin-top: 200px;" *ngIf="isSettingAutocomplete">
        <div class="col s12 center-align">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 200px;" *ngIf="!isSettingAutocomplete">
        <div class="input-field col s12 m6 offset-m3">
            <input type="text" id="autocomplete-input" class="autocomplete" #autoComplete>
            <label for="autocomplete-input">Autocomplete</label>
        </div>
    </div>
    <div class="divider"></div>
    
</div>

